html,
body {
  height: 100%;
}

html,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

.btn {
  opacity: 1;
  padding: .375rem 0.95rem;
  border-radius: 0.25rem;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.4;
}

img {
  max-width: 100%;
  max-height: 20em;
}

img.active {
  -webkit-box-shadow: 0 0 0 2px blue;
  box-shadow: 0 0 0 2px blue;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}

/**
 * Icons.
 */

.material-icons {
  font-size: 24px;
  vertical-align: unset;
  line-height: 1;
}

/**
 * App.
 */

.nav {
  padding: 10px 15px;
  color: #aaa;
  background: #000;
}

.nav-title {
  margin-right: 0.5em;
}

.nav-links {
  float: right;
}

.nav-link {
  margin-left: 1em;
  color: #aaa;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.tabs {
  padding: 15px 15px;
  background-color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.tab {
  color: #777;
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
}

.tab:hover {
  background: #333;
}

.editor > * > * + * {
  margin-top: 0.5em !important;
}

.logo {
  z-index: 999;
  margin-top: 1em;
  position: absolute;
  top: 18px;
  max-width: 10rem;
  max-height: 1em;
  left: 3%;
}

.tab + .tab {
  margin-left: 0.5em;
}

.tab.active {
  color: white;
  background: #333;
}

.centralizado {
  margin: 0 auto !important;
  float: none !important;
}

.editor-body {
  max-width: 720px;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

progress {
  min-height: 1.9rem;
  min-width: 12.8rem;
  padding: 0 !important;
}

progress::-webkit-progress-bar {
  background-color: white;
}

/**
 * Example.
 */

.segundoBotao {
  float: right;
  /* margin-left: 3% !important; */
}

.principal {
  /* margin-top: 4%; */
}

.caps {
  font-size: 2.45rem;
  text-transform: uppercase;
}

.heading {
  margin: 50px !important;
}

.login-btn {
  text-transform: uppercase;
  border-color: transparent;
  color: rgb(58, 57, 70);
  background: rgba(188, 222, 161, .5);
  z-index: 999;
  margin-top: 0.5em;
}
.login-btn:hover {
  -webkit-animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: rgb(188, 222, 161);
  background: rgb(58, 57, 70);
  z-index: 999;
  margin-top: 0.5em;
}

.primeiroBotao {
  min-height: 1.9rem;
  min-width: 12.8rem;
  text-align: center;
  text-transform: uppercase;
  border-color: transparent;
  color:white;
  background: rgba(188, 222, 161, .5);
  position: absolute;
  right: 3%;
  z-index: 999;
  margin-top: 0.5em;
}

.primeiroBotao:not(disabled):hover {
  -webkit-animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation: cubic-bezier(0.075, 0.82, 0.165, 1);
  color: rgb(188, 222, 161);
  background: rgb(58, 57, 70);
  position: absolute;
  right: 3%;
  /* margin-left: 20% !important; */
}

.centroBotao {
  margin-top: 3% !important;
  margin-left: 38% !important;
}

.example,
.error {
  max-width: 42em;
  margin: 0 auto 20px;
  padding: 20px;
}

.example {
  background: #fff;
}

.error {
  background: #fffae0;
}

.error .info {
  background: #fbf1bd;
  white-space: pre;
  overflow-x: scroll;
  margin-bottom: 0;
}

.editor > * > * + * {
  margin-top: 1em;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 15px;
}

.button {
  color: #ccc;
  cursor: pointer;
}

.button[data-active='true'] {
  color: black;
}

.toolbar-menu {
  position: relative;
  padding: 1px 18px 17px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
  text-align: center;
}

@media all and (max-width: 720px) {
  .toolbar-menu {
    position: relative;
    margin: 0px -20px;
    border-bottom: 2px solid #eee;
    margin-bottom: 80px;
    text-align: center;
    top: 50px;
  }
}

.toolbar-menu .search {
  position: relative;
}

.toolbar-menu .search-icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: #ccc;
}

.toolbar-menu .search-box {
  padding-left: 2em;
  width: 100%;
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  -webkit-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  transition: opacity 0.75s;
}

.hover-menu .button {
  color: #aaa;
}

.hover-menu .button[data-active='true'] {
  color: #fff;
}

.emoji.selected {
  outline: 2px solid blue;
}

.check-list-item + .check-list-item {
  margin-top: 0;
}

.check-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.check-list-item.checked {
  opacity: 0.666;
  text-decoration: line-through;
}

.check-list-item > span:first-child {
  margin-right: 0.75em;
}

.check-list-item > span:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.check-list-item > span:last-child:focus {
  outline: none;
}

.word-counter {
  margin-top: 10px;
  padding: 12px;
  background-color: #ebebeb;
  display: inline-block;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid black; /* Blue */
  border-radius: 50%;
  margin-left: 44%;
  margin-top: 5%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#processing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  background-color: #e4e4e4;
}

#processing.complete .gears {
  background-color: transparent;
  -webkit-transition: background-color .25s ease .75s;
  -o-transition: background-color .25s ease .75s;
  transition: background-color .25s ease .75s;
}

#processing.complete .loading-bar {
  -webkit-animation: hideLoading .5s forwards;
  animation: hideLoading .5s forwards;
}

#processing.complete .checkmark.checkmark-success .checkmark-circle {
  stroke: #bcdea1;
}

#processing.complete .checkmark.checkmark-success {
  -webkit-animation: fillCheckSuccess .4s cubic-bezier(.65, 0, .45, 1) 1s
      forwards,
    beatCheck .2s ease-out 1.5s forwards,
    echoSuccess 1.25s ease-out 1.5s forwards;
  animation: fillCheckSuccess .4s cubic-bezier(.65, 0, .45, 1) 1s forwards,
    beatCheck .2s ease-out 1.5s forwards,
    echoSuccess 1.25s ease-out 1.5s forwards;
}

.checkmark-circle {
  -webkit-animation: strokeCheck .5s cubic-bezier(.65, 0, .45, 1) .75s forwards;
  animation: strokeCheck .5s cubic-bezier(.65, 0, .45, 1) .75s forwards;
}
.checkmark-check {
  -webkit-animation: strokeCheck .3s cubic-bezier(.65, 0, .45, 1) 1.25s forwards;
  animation: strokeCheck .3s cubic-bezier(.65, 0, .45, 1) 1.25s forwards;
}

h1 {
  color: #333;
  font-weight: 400;
}

.wrapper {
  position: relative;
  margin: 30px auto;
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.gear-wrapper {
  position: absolute;
}

@-webkit-keyframes gearEnter1 {
  to {
    -webkit-transform: rotate(10deg) translate3d(-5px, -5px, 0);
    transform: rotate(10deg) translate3d(-5px, -5px, 0);
  }
}

@keyframes gearEnter1 {
  to {
    -webkit-transform: rotate(10deg) translate3d(-5px, -5px, 0);
    transform: rotate(10deg) translate3d(-5px, -5px, 0);
  }
}

@-webkit-keyframes gearEnter2 {
  to {
    -webkit-transform: rotate(25deg) translate3d(20px, -50px, 0);
    transform: rotate(25deg) translate3d(20px, -50px, 0);
  }
}

@keyframes gearEnter2 {
  to {
    -webkit-transform: rotate(25deg) translate3d(20px, -50px, 0);
    transform: rotate(25deg) translate3d(20px, -50px, 0);
  }
}

@-webkit-keyframes gearEnter3 {
  to {
    -webkit-transform: rotate(15deg) translate3d(-25px, -15px, 0);
    transform: rotate(15deg) translate3d(-25px, -15px, 0);
  }
}

@keyframes gearEnter3 {
  to {
    -webkit-transform: rotate(15deg) translate3d(-25px, -15px, 0);
    transform: rotate(15deg) translate3d(-25px, -15px, 0);
  }
}

@-webkit-keyframes gearEnter4 {
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gearEnter4 {
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes gearLeave1 {
  from {
    -webkit-transform: rotate(10deg) translate3d(-5px, -5px, 0);
    transform: rotate(10deg) translate3d(-5px, -5px, 0);
  }
  to {
    -webkit-transform: rotate(10deg) translate3d(-40px, -60px, 0);
    transform: rotate(10deg) translate3d(-40px, -60px, 0);
  }
}

@keyframes gearLeave1 {
  from {
    -webkit-transform: rotate(10deg) translate3d(-5px, -5px, 0);
    transform: rotate(10deg) translate3d(-5px, -5px, 0);
  }
  to {
    -webkit-transform: rotate(10deg) translate3d(-40px, -60px, 0);
    transform: rotate(10deg) translate3d(-40px, -60px, 0);
  }
}

@-webkit-keyframes gearLeave2 {
  from {
    -webkit-transform: rotate(25deg) translate3d(20px, -50px, 0);
    transform: rotate(25deg) translate3d(20px, -50px, 0);
  }
  to {
    -webkit-transform: rotate(25deg) translate3d(70px, -130px, 0);
    transform: rotate(25deg) translate3d(70px, -130px, 0);
  }
}

@keyframes gearLeave2 {
  from {
    -webkit-transform: rotate(25deg) translate3d(20px, -50px, 0);
    transform: rotate(25deg) translate3d(20px, -50px, 0);
  }
  to {
    -webkit-transform: rotate(25deg) translate3d(70px, -130px, 0);
    transform: rotate(25deg) translate3d(70px, -130px, 0);
  }
}

@-webkit-keyframes gearLeave3 {
  from {
    -webkit-transform: rotate(15deg) translate3d(-25px, -15px, 0);
    transform: rotate(15deg) translate3d(-25px, -15px, 0);
  }
  to {
    -webkit-transform: rotate(15deg) translate3d(30px, 20px, 0);
    transform: rotate(15deg) translate3d(30px, 20px, 0);
  }
}

@keyframes gearLeave3 {
  from {
    -webkit-transform: rotate(15deg) translate3d(-25px, -15px, 0);
    transform: rotate(15deg) translate3d(-25px, -15px, 0);
  }
  to {
    -webkit-transform: rotate(15deg) translate3d(30px, 20px, 0);
    transform: rotate(15deg) translate3d(30px, 20px, 0);
  }
}

@-webkit-keyframes gearLeave4 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-70px, 70px, 0);
    transform: translate3d(-70px, 70px, 0);
  }
}

@keyframes gearLeave4 {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-70px, 70px, 0);
    transform: translate3d(-70px, 70px, 0);
  }
}

.gear {
  fill: #e4e4e4;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-webkit-keyframes gearRotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gearRotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-bar {
  position: relative;
  width: 200px;
  height: 10px;
  margin-top: 50px;
  background-color: #e4e4e4;
  border-radius: 10px;
  overflow: hidden;
}

.loading-bar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #999;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease;
  transition: width .5s ease;
}

@-webkit-keyframes hideLoading {
  to {
    height: 0;
    margin: 0;
    opacity: 0;
  }
}

@keyframes hideLoading {
  to {
    height: 0;
    margin: 0;
    opacity: 0;
  }
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  display: block;
  border-radius: 50%;
  stroke-width: 1px;
  stroke: #fff;
  stroke-miterlimit: 10px;
}

.checkmark-circle {
  fill: none;
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  stroke-width: 1px;
  stroke-miterlimit: 10px;
}

@-webkit-keyframes fillCheckSuccess {
  to {
    -webkit-box-shadow: inset 0 0 0 100px #bcdea1;
    box-shadow: inset 0 0 0 100px #bcdea1;
  }
}

@keyframes fillCheckSuccess {
  to {
    -webkit-box-shadow: inset 0 0 0 100px #bcdea1;
    box-shadow: inset 0 0 0 100px #bcdea1;
  }
}

@-webkit-keyframes fillCheckError {
  to {
    -webkit-box-shadow: inset 0 0 0 100px #a94442;
    box-shadow: inset 0 0 0 100px #a94442;
  }
}

@keyframes fillCheckError {
  to {
    -webkit-box-shadow: inset 0 0 0 100px #a94442;
    box-shadow: inset 0 0 0 100px #a94442;
  }
}

@-webkit-keyframes beatCheck {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes beatCheck {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@-webkit-keyframes echoSuccess {
  from {
    -webkit-box-shadow: inset 0 0 0 100px #bcdea1, 0 0 0 0 #bcdea1;
    box-shadow: inset 0 0 0 100px #bcdea1, 0 0 0 0 #bcdea1;
  }
  to {
    -webkit-box-shadow: inset 0 0 0 100px #bcdea1, 0 0 0 50px transparent;
    box-shadow: inset 0 0 0 100px #bcdea1, 0 0 0 50px transparent;
  }
}

@keyframes echoSuccess {
  from {
    -webkit-box-shadow: inset 0 0 0 100px #bcdea1, 0 0 0 0 #bcdea1;
    box-shadow: inset 0 0 0 100px #bcdea1, 0 0 0 0 #bcdea1;
  }
  to {
    -webkit-box-shadow: inset 0 0 0 100px #bcdea1, 0 0 0 50px transparent;
    box-shadow: inset 0 0 0 100px #bcdea1, 0 0 0 50px transparent;
  }
}

@-webkit-keyframes echoError {
  from {
    -webkit-box-shadow: inset 0 0 0 100px #a94442, 0 0 0 0 #a94442;
    box-shadow: inset 0 0 0 100px #a94442, 0 0 0 0 #a94442;
  }
  to {
    -webkit-box-shadow: inset 0 0 0 100px #a94442, 0 0 0 50px transparent;
    box-shadow: inset 0 0 0 100px #a94442, 0 0 0 50px transparent;
  }
}

@keyframes echoError {
  from {
    -webkit-box-shadow: inset 0 0 0 100px #a94442, 0 0 0 0 #a94442;
    box-shadow: inset 0 0 0 100px #a94442, 0 0 0 0 #a94442;
  }
  to {
    -webkit-box-shadow: inset 0 0 0 100px #a94442, 0 0 0 50px transparent;
    box-shadow: inset 0 0 0 100px #a94442, 0 0 0 50px transparent;
  }
}

.checkmark-check {
  stroke: #fff;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-webkit-keyframes strokeCheck {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes strokeCheck {
  to {
    stroke-dashoffset: 0px;
  }
}

.gears {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-animation: scale .5s ease .5s forwards;
  animation: scale .5s ease .5s forwards;
}

canvas {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  background: #fff;
}

h1.linha {
  opacity: .7;
}

h2.linha {
  opacity: .7;
}

p.linha {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.05rem;
  opacity: .7;
}